XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 20000
xterm*foreground: white
xterm*background: black
xterm*faceName: CodeNewRoman Nerd Font:style=Bold
xterm*faceSize: 11
xterm*loginShell: true
