window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 13px;
}

#workspaces button {
    padding: 0 5px;
    color: #a6adc8;
}

#workspaces button.focused {
    color: #cba6f7;
    font-weight: bold;
}
